@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  color: white;
}

body{
  background-image: url('../public/img/bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Define la animación de parpadeo */
@keyframes neon {
  0% {
    box-shadow: 0 0 20px 10px rgba(177, 44, 194, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Color inicial */
  }
  10% {
    box-shadow: 0 0 20px 10px rgba(68, 215, 235, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Primer color */
  }
  20% {
    box-shadow: 0 0 20px 10px rgba(50, 173, 112, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Segundo color */
  }
  30% {
    box-shadow: 0 0 20px 10px rgba(71, 44, 194, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Tercer color */
  }
  40% {
    box-shadow: 0 0 20px 10px rgba(235, 68, 68, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Cuarto color */
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(177, 44, 194, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Quinto color */
  }
  60% {
    box-shadow: 0 0 20px 10px rgba(71, 44, 194, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Sexto color */
  }
  70% {
    box-shadow: 0 0 20px 10px rgba(68, 215, 235, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Séptimo color */
  }
  80% {
    box-shadow: 0 0 20px 10px rgba(68, 235, 163, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Octavo color */
  }
  90% {
    box-shadow: 0 0 20px 10px rgba(68, 163, 235, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Noveno color */
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(68, 68, 235, 0.8), 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Décimo color */
  }
}

/* Aplica la animación a la sombra de tu navbar */
.neon-shadow {
  animation: neon 20s infinite; /* La animación se repite infinitamente en 10 segundos */
  transition: box-shadow 1s ease-in-out; /* Transición suave entre los cambios de color */
}
